/* Dropdown Button */
.dropbtn {
  cursor: pointer;

  /* Dropdown button on hover & focus */
  &:hover, &:focus{
    background-color: $white;
  }
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  .fas{
    font-size: .75rem;
  }
}
/* Dropdown Content (Hidden by Default) */
.dropdown__content {
  display: none;
  position: absolute;
  background-color: $white;
  min-width: 160px;
  @include default-box-shadow;
  z-index: 1;
  top: calc(100% + .2rem);
  /* Links inside the dropdown */
  a{
  color: $black;
  display: block;
  text-decoration: none;
  padding: .75em 1em;
    /* Change color of dropdown links on hover */
    &:hover{
      background-color: $bg-gray;
    }
  }
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}