/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #1B1B20;
  background-color: #F5F5F8; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: .75rem; }

.grid-container {
  display: grid;
  grid-template-columns: 1.5rem 1fr 1fr 1fr 1fr 1.5rem;
  grid-auto-rows: minmax(1rem, auto);
  grid-gap: 1.5rem;
  grid-template-areas: "header header header header header header" ". actions actions actions actions ." ". map map profile activity ." ". appointments appointments documents activity ."; }

.header {
  background-color: #fff;
  grid-area: header; }

.actions {
  background-color: #fff;
  grid-area: actions; }

.map {
  background-color: #fff;
  grid-area: map; }

.profile {
  background-color: #fff;
  grid-area: profile; }

.activity {
  background-color: #fff;
  grid-area: activity; }

.appointments {
  background-color: #fff;
  grid-area: appointments; }

.documents {
  background-color: #fff;
  grid-area: documents; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #5A5A5E;
  -webkit-box-shadow: 0 0.1rem 1rem 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.1rem 1rem 0px rgba(0, 0, 0, 0.1); }
  .header__brand {
    margin-left: 3rem;
    height: 3rem;
    width: 3rem; }
    .header__brand img {
      width: 100%; }
  .header__nav {
    margin-right: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__main__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header__main__nav li a {
      text-decoration: none;
      color: #5A5A5E;
      padding: 2rem 1.5rem;
      display: block;
      position: relative;
      overflow: hidden; }
      .header__main__nav li a::after {
        content: '';
        display: block;
        background-color: #345BFF;
        width: 100%;
        height: 2px;
        top: 100%;
        left: 0;
        position: absolute;
        -webkit-transition: all ease-in-out .2s;
        transition: all ease-in-out .2s; }
      .header__main__nav li a:hover {
        color: #1B1B20; }
        .header__main__nav li a:hover::after {
          -webkit-transform: translateY(-2px);
          transform: translateY(-2px); }
    .header__main__nav li.active a {
      font-weight: bolder;
      color: #1B1B20; }
  .header .dropdown {
    margin-left: 3rem; }
    .header .dropdown__btn {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-decoration: none;
      color: #5A5A5E;
      padding: .25rem .5rem .25rem 1rem;
      border-radius: .25rem; }
      .header .dropdown__btn:hover {
        color: #1B1B20;
        background-color: #F5F5F8; }
    .header .dropdown .avatar {
      width: 2.25rem;
      height: 2.25rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 .5rem 0 2rem; }
      .header .dropdown .avatar img {
        overflow: hidden;
        border-radius: 50%;
        width: 2.5rem; }
    .header .dropdown__content {
      right: 0;
      width: 100%; }

/* Dropdown Button */
.dropbtn {
  cursor: pointer;
  /* Dropdown button on hover & focus */ }
  .dropbtn:hover, .dropbtn:focus {
    background-color: #fff; }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative; }
  .dropdown .fas {
    font-size: .75rem; }

/* Dropdown Content (Hidden by Default) */
.dropdown__content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  -webkit-box-shadow: 0 0.1rem 1rem 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.1rem 1rem 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  top: calc(100% + .2rem);
  /* Links inside the dropdown */ }
  .dropdown__content a {
    color: #1B1B20;
    display: block;
    text-decoration: none;
    padding: .75em 1em;
    /* Change color of dropdown links on hover */ }
    .dropdown__content a:hover {
      background-color: #F5F5F8; }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block; }
